



body {
  font-family: "Plus Jakarta Sans", sans-serif;
 
}


.pricolor{
    color:#016368 ;
}
.pricolor1{
  color:#114338;
}
.countdown-bg{
  background-color: #EDFFFD;
}
.pribgcolor{
    background-color: #016368;
    color: #016368;
}

/* .nav-custom .nav-link.active-link {
  text-decoration: underline;
  color: black;
} */

.active-link {
  text-decoration: underline;
  color: black;
}



.planeimg{
  width: 44px;
  height: 44px;
}

.btn-signup {
    background-color: #016368;
    color:white;
    border-radius: 40px;
    border: 0;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin: 0.2rem;
    font-weight: 600;
}

.btn-submitt {
  background-color: #016368;
  color:white;
  border-radius: 12px;
  border: 0;
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
 
  font-weight: 600;
}

.btn-joinnow {
  background-color: #016368;
  color:white;
  border-radius: 40px;
  border: 0;
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-weight: 600;
}


.btn-future{
  background: linear-gradient(45deg,  #026D71F5,#00B0B6);

    color:white;
    border-radius: 40px;
    border: 0;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-weight: 600;
}

.btn-roadMap {
  background-color: #00868B;
  color:white;
  border-radius: 40px;
  border: 0;
  padding-left:1.5rem;
  padding-right:1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  
  font-weight: 600;
}
.btn-commingsoon {
    background-color: #016368;
    color:white;
    border-radius: 40px;
    border: 0;
    padding-left:3rem;
    padding-right:3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0.1rem;
    font-weight: 600;
    font-size: 22px;
}

.emailInput{
  
    border-radius: 40px;
    border: 1px solid #00868B;
    font-weight: 500;
    width: 100%;
    font-size: 1.1rem;
    padding: 1.5rem;
    
   
}

.btn-login {
   
    color:black;
    background-color: white;
    box-shadow: 0px 3px 5px #bfbfbf;
    border-radius: 40px;
    border: 1px solid #bfbfbf;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin: 0.2rem;
    font-weight: 600;
}

.btn-home1 {
  background-color: #016368;
  color:white;
  border-radius: 40px;
  border: 0;
  padding-left:2.2rem;
  padding-right:2.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
   font-weight: 600;
  font-size: 20px;
}

.btn-home2{
  background-color: #E9F7FF;
    color:#008289;
    border-radius: 40px;
    border: 0;
    padding-left:2.2rem;
    padding-right:2.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
    font-weight: 600;
    font-size: 20px;
    
}

.tabnav{
  font-size: 17px;
  font-weight: 600;
}

.tabnav div{
  padding: 5px;
}

.page2 h1{
  font-size: 48px;
  font-weight: 700;
  color: #003438;
}

.page2 p{
  font-size: 24px;
  font-weight: 400;
  color: #003438;
  
}


.btn-footer {
   
    color:black;
    background-color: white;
    box-shadow: 0px 3px 5px #bfbfbf;
    border-radius: 40px;
    border: 2px solid black;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.2rem;
    font-weight: 600;
}

.btn-home {
   
    color:#008289;
    background-color:#E9F7FF;
    box-shadow: 0px 3px 5px #bfbfbf;
    border-radius: 40px;
    border: 0px solid #bfbfbf;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.2rem;
    font-weight: 600;
}

.nav-custom{
font-family: Plus Jakarta Sans;
font-size: 1.1rem ;
font-weight: 600;
align-items: center;


}


.phracolor{
    background: linear-gradient(to right, #00555A, #50B893);
    -webkit-background-clip: text;
    color: transparent;
  font-weight:700 ;
  font-size: 50px;
  
  
}

.homep1{
  font-size: 32px;
}

.countdowncolor {
  background: linear-gradient(to right, #00555A,#00555A, #50B893,#00555A,#00555A);
  -webkit-background-clip: text;
  color: transparent;
}

.countdowncolor h1 {
  font-size:120px; 
  font-weight: 800;
}

.countdowncolor p {
  font-size: 32px; 
}
.countdowncolor div {
  text-align: center;
  
}
.countdowncolor .coutDHM{
  font-size: 20px;
}



.custom-hr {
    border-radius: 3px;
    border: 3px solid #00555A; 
    align-items: end;
    width: 30%;
    margin-left:1.2rem;
    
}

.custom-hr1 {
    border-radius: 3px;
    border: 3px solid black; 
    align-items: end;
   width: 20%;
         
    
}



.custom-hrPage5 {
  border-radius: 3px;
  border: 3px solid black; 
  align-items: end;
 width: 20%;
       
  
}

.custom-hr2 {
    border-radius: 3px;
    border: 3px solid black; 
     align-items: end;
         width: 10%;
         
    
}
.hidden {
    display: none;
  }

  .custom-container1{
    background-color: #EDFFFD;

  }
  
  .custom-scroll {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  .custom-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .custom-scroll-image {
    width: 400px;
    height: auto;
    
  }
  
  .image-name-overlay {
    position: absolute;
    bottom: 0;
    padding-left: 30px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  
  }

  .cursor-pointer{
    cursor: pointer;
  }
  
  .custom-container2{
    background-color: #00ADB0;
  }

  .commingsoonatag{
    color: #012269;
  }

  .custom-roadmap-box-container{
    background-color: #EDFFFD;
    border-radius: 2px;
    border: 1px solid #00868B80;

  }


  .custom-roadmap-box-container h1{
    color: #07565A;
    font-size: 16px;
  }

  .custom-roadmap-box-container p{
    color: #003438;

  }

  .custom-roadmap-box-container hr {
    border-radius: 3px;
    border: 3px solid #003438;
    width: 10%;
}

.customhr {
  width: 5px;
  background-color: #79F1D6;
}
.customhr1 {
 
  color: #79F1D6;
  margin-top: -5px;
}

.requestDemoBgImg{
  background-image: url("./assets/Vector2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.homeBgImg{
  background-image: url("./assets/Vector1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-features{
  font-size: 18px;
  font-weight: 500;
  color: #3D3D3D;
  
}

.page2phr p{
  font-size: 23px;
  }

  .page5h1{
    background-color: white;
    text-align: start;
    font-size: 40px;
    font-weight: 700;
    padding: 1rem;
  }

  .page6phra{
    font-size: 17px;
  }

  .privacy p{
    font-size: 1.2rem;
  }

  .privacy h1{
    font-size: 2.7rem;
  }

  .termspage li {
    font-size: 1.3rem;
    font-weight: 700;
  }  

.termspage li p{
  font-size: 1.1rem;
  font-weight: 400;
}

.termspage li p{
  font-size: 1.1rem;
  font-weight: 400;
}

.termsphra{
  font-size: 1.2rem;
}

.iconsize{
  font-size: 2rem;
}


.custom-roadmap-box-containerbox5{
  background-color: #EDFFFD;
  border-radius: 2px;
  border: 1px solid #00868B80;
  border: none;

}

.custom-roadmap-box-containerbox5 h1{

  font-size: 18px;
}


.blurred {
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
}

.blurred-text {
  color: transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.5); 
}

.blurred-line {
  border-color: transparent; 
}



  .custom-container2 iframe {
    height: 400px;
    width: 100%;
  }
 

  .customrounded{
    border-radius: 2.3rem;
  }

  .customlogo{
    width: 245px;
    height: 100%;
    object-fit: contain;
  }

  .page7h h1{
    font-size: 3.3rem;
    font-weight: 700;
  }
  
  .page7p p{
    font-size: 2.1rem;
    font-weight: 400;
  }


  @media (min-width: 1200px){
    .requestDemoHeaderBgImg{
 
      background-color: #E9FEFF;
      width:100%;
      height: 300px;
      background-size: cover;
      -webkit-clip-path: ellipse(50% 100% at 50% 0%);
      clip-path: ellipse(60% 100% at 50% 0%);
      
      
      
      }

  }
@media (max-width: 576px) {
  .planeimg {
    width: 28px; 
    height: 28px; 
  }
  .homep1{
    font-size: 17px;
  }
  
  .btn-commingsoon {
   
    border-radius: 40px;
    
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.1rem;
    font-weight: 500;
    font-size: 13px;
}
.unlog{
  width: 55px;
  height: 55px;
}

.page2 h1{
  font-size: 32px;
 
}

.page2 p{
  font-size: 14px;
}

.countdowncolor h1 {
  font-size:75px; 
}

.countdowncolor p {
  font-size: 16px; 
}

.countdowncolor .coutDHM{
  font-size: 15px;
}

.requestDemoBgImg {
  background-image: none ;
}

.homeBgImg{
  background-image: none;
}



.tabnav{
  font-size: 15px;
  
}

.page2phr p{
font-size: 17px;
}

.page2phr h1{
  font-size: 28px;
}

.custom-features{
  font-size: 16px;
  
 
  
}

.page5h1{
  background-color:#00ADB0;
  color: white;
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  padding: 1rem;
}

.custom-hrPage5 {
  border: 3px solid white; 
  
  
}

.nav-custom{

  font-size: 0.9rem ;
  font-weight: 700;
  align-items: center;
  border-radius: 10px;
  padding-top: 10px;  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  
  }

  .nav-custom .nav-link{

   width: 100%;
   text-align: center;
   padding: 0.9rem;

   /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05); */
   
    margin: 2px;
    
  }

  .privacy p{
    font-size: 1.05rem;
  }

  .privacy h1{
    font-size: 2rem;
  }

  .termsphra{
    font-size: 1.1rem;
  }

  .custom-container2 iframe {
    height: 200px;
    width: 100%;
  }

  .customrounded{
    border-radius:1rem;
  }

/*  Home*/
  .phracolor{ 
  font-size: 28px;
  
}
.btn-home1 {

  border-radius: 25px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
   font-weight: 500;
  font-size: 17px;
}

.btn-home2 {

  border-radius: 25px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
   font-weight: 500;
  font-size: 17px;
}


/* page-03*/
.image-name-overlay {
  font-size: 18px;
  font-weight: 600;

}



.emailInput{
  
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.9rem;
  margin-bottom: 0.4rem;
}


.btn-joinnow {

  border-radius: 30px;
  padding: 0.9rem;
  font-weight: 500;
  font-size: 1rem;

}
.page7h h1{
  font-size: 1.8rem;
  font-weight: 700;
}

.page7p p{
  font-size: 1.4rem;
}

}
  
  


